doctype html
html
	head
		title= 'Chatster'
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
		style
			include ../style.css
			include ../node_modules/bootstrap/dist/css/bootstrap.css
		script(src='/chat.js')
		script(src='/socket.io/socket.io.js')
	body(class='container')
		div#title(class='row') Chatster
		#content(class='form-control')
		.controls(class='form-inline')
			div(class='form-group')
				input#field(class='form-control')
			input#send(type='button', value='Send', class='btn btn-primary')
